body {
    margin: 0;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 0.5fr;
    grid-template-areas: "header header header" "Images1 Images2 Images3" "Images4 Images5 Images6" "footer footer footer";
    height: 100vh;
    margin: 0.5em;

}

main {
    grid-area: main;
    background: #11e369;
    border: 1px solid rgb(78, 168, 9);
    border-radius: 5px 5px;
}

section.footer {
    grid-area: footer;
    background: #8b0909;
    border: 1px solid rgb(78, 168, 9);
    border-radius: 5px 5px;
}

section.Images1 {
    grid-area: Images1;
    size: 1fr;
    background: #6a4c9a;
    border: 1px solid rgb(78, 168, 9);
    border-radius: 5px 5px;
}

section.Images2 {
    grid-area: Images2;
    background: #504c9a;
    border: 1px solid rgb(78, 168, 9);
    border-radius: 5px 5px;
}

section.Images3 {
    grid-area: Images3;
    background: #4c9a76;
    border: 1px solid rgb(78, 168, 9);
    border-radius: 5px 5px;
}

section.Images4 {
    grid-area: Images4;
    background: #9a614c;
    border: 1px solid rgb(78, 168, 9);
    border-radius: 5px 5px;
}

section.Images5 {
    grid-area: Images5;
    background: #9a4c7f;
    border: 1px solid rgb(78, 168, 9);
    border-radius: 5px 5px;
}

section.Images6 {
    grid-area: Images6;
    background: #9a894c52;
    border: 1px solid rgb(78, 168, 9);
    border-radius: 5px 5px;
}

header {
    grid-area: header;
    background: #dfb5b5;
    border: 1px solid rgb(78, 168, 9);
    border-radius: 5px 5px;
}
